@font-face {
  font-family: "iconfont"; /* Project id 2541486 */
  src: url('iconfont.eot?t=1620726811741'); /* IE9 */
  src: url('iconfont.eot?t=1620726811741#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1620726811741') format('woff2'),
       url('iconfont.woff?t=1620726811741') format('woff'),
       url('iconfont.ttf?t=1620726811741') format('truetype'),
       url('iconfont.svg?t=1620726811741#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before {
  content: "\e800";
}

